.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  font-family: var(--font-geist-sans);
}

.componentContainer {
  margin: 1rem 0;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
  
  .componentContainer {
    border-color: #333;
  }
}
